In [55]:
import pandas as pd
data = pd.read_csv(r"..\\Narrativedata.csv", index_col=0)

# 异常值检测

In [56]:
data.dropna(axis=0,inplace=True)
data.head(10)

     Age     Sex Embarked Survived
0   22.0    male        S       No
1   38.0  female        C      Yes
2   26.0  female        S      Yes
3   35.0  female        S      Yes
4   35.0    male        S       No
6   54.0    male        S       No
7    2.0    male        S       No
8   27.0  female        S      Yes
9   14.0  female        C      Yes
10   4.0  female        S  Unknown

In [57]:
# 编码，将标签（这里是survived）编码
from sklearn.preprocessing import LabelEncoder
data.iloc[:,-1]=LabelEncoder().fit_transform(data.iloc[:,-1]) 

from sklearn.preprocessing import OrdinalEncoder
data.iloc[:,1:-1] = OrdinalEncoder().fit_transform(data.iloc[:,1:-1])

data.head(10)

     Age  Sex  Embarked  Survived
0   22.0  1.0       2.0         0
1   38.0  0.0       0.0         2
2   26.0  0.0       2.0         2
3   35.0  0.0       2.0         2
4   35.0  1.0       2.0         0
6   54.0  1.0       2.0         0
7    2.0  1.0       2.0         0
8   27.0  0.0       2.0         2
9   14.0  0.0       0.0         2
10   4.0  0.0       2.0         1

In [58]:
# 接着导入EllipticEnvelope
from sklearn.covariance import EllipticEnvelope
detector = EllipticEnvelope() # 构造异常值识别器
detector.fit(data) # 拟合识别器
detector.predict(data) # 预测异常值
# -1意为异常值

C:\Python\Python310\lib\site-packages\sklearn\covariance\_robust_covariance.py:183: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (-1.643036508228945 > -34.807954519821266). You may want to try with a higher value of support_fraction (current value: 0.504).
  warnings.warn(
C:\Python\Python310\lib\site-packages\sklearn\covariance\_robust_covariance.py:183: RuntimeWarning: Determinant has increased; this should not happen: log(det) > log(previous_det) (-1.640548447152438 > -34.825554417157399). You may want to try with a higher value of support_fraction (current value: 0.504).
  warnings.warn(

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1, -1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1,  1,  1, -1,  1, -1,  1,  1, -1,  1,  1,  1,  1, -1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1, -1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1, -1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,
        1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1, -1,
        1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1, -1, -1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,
        1,  1, -1,  1,  1,  1, -1,  1, -1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1, -1,  1,  1,  1,
        1, -1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1, -1,  1,  1,  1,  1,  1,  1,  1, -1, -1,
        1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1, -1,  1,  1, -1,  1,  1,  1,  1, -1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1,
        1, -1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1, -1,  1, -1,  1,  1, -1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1])

In [1]:
import numpy as np

incorrect = detector.predict(data)
len(incorrect)

NameError: name 'detector' is not defined

In [60]:
for i in range(len(incorrect)):
    if(incorrect[i]==-1):
        data.iloc[[i]]=np.nan # dataframe类型的数据要这样读一行！
        # 不能像rray一样索引[i,:]

data.head(30)

     Age  Sex  Embarked  Survived
0   22.0  1.0       2.0       0.0
1   38.0  0.0       0.0       2.0
2   26.0  0.0       2.0       2.0
3   35.0  0.0       2.0       2.0
4   35.0  1.0       2.0       0.0
6   54.0  1.0       2.0       0.0
7    2.0  1.0       2.0       0.0
8   27.0  0.0       2.0       2.0
9   14.0  0.0       0.0       2.0
10   4.0  0.0       2.0       1.0
11   NaN  NaN       NaN       NaN
12  20.0  1.0       2.0       0.0
13  39.0  1.0       2.0       0.0
14  14.0  0.0       2.0       0.0
15  55.0  0.0       2.0       1.0
16   2.0  1.0       1.0       0.0
18  31.0  0.0       2.0       0.0
20  35.0  1.0       2.0       1.0
21  34.0  1.0       2.0       2.0
22  15.0  0.0       1.0       2.0
23  28.0  1.0       2.0       2.0
24   8.0  0.0       2.0       0.0
25  38.0  0.0       2.0       1.0
27  19.0  1.0       2.0       0.0
30  40.0  1.0       0.0       0.0
33   NaN  NaN       NaN       NaN
34  28.0  1.0       0.0       0.0
35  42.0  1.0       2.0       0.0
37  21.0  1.0       2.0       0.0
38  18.0  0.0       2.0       0.0

In [61]:
data.iloc[[0]]=np.nan

In [62]:
data.values

array([[nan, nan, nan, nan],
       [38.,  0.,  0.,  2.],
       [26.,  0.,  2.,  2.],
       ...,
       [19.,  0.,  2.,  2.],
       [26.,  1.,  0.,  1.],
       [32.,  1.,  1.,  0.]])

# k-最近邻（kNN）缺失数据的值插补

In [63]:
# 缺失值填充过程
# 导入KNNImputer
from sklearn.impute import KNNImputer
import pandas as pd
imputer = KNNImputer(n_neighbors=2) # 这里可以设置参数n_neighbors，默认值为5
data=pd.DataFrame(imputer.fit_transform(data.values))

data

             0         1         2         3
0    28.480438  0.640063  1.668232  0.818466
1    38.000000  0.000000  0.000000  2.000000
2    26.000000  0.000000  2.000000  2.000000
3    35.000000  0.000000  2.000000  2.000000
4    35.000000  1.000000  2.000000  0.000000
..         ...       ...       ...       ...
707  39.000000  0.000000  1.000000  0.000000
708  27.000000  1.000000  2.000000  0.000000
709  19.000000  0.000000  2.000000  2.000000
710  26.000000  1.000000  0.000000  1.000000
711  32.000000  1.000000  1.000000  0.000000

[712 rows x 4 columns]